body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

canvas {
    border: 1px solid #000;
}

.canva{
    border:5px solid black;
}
