body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

canvas {
    border: 5px solid black;
}

.controls {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

select {
    margin-right: 20px;
}
