body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

canvas {
    border: 5px solid black;
}

.controls {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

select {
    margin-right: 20px;
}


button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f0f0f0;
}